@charset "UTF-8";
/*header footer btn*/
/*menu 31 seulement*/
/*menu 32 seulement*/
/*menu 33 seulement*/
/*menu 34 seulement*/
@font-face {
  /*menu 31*/
  font-family: LeckerliOne;
  src: url(../font/LeckerliOne-Regular.otf);
}
@font-face {
  /*menu 31*/
  font-family: Damion;
  src: url(../font/Damion-Regular.ttf);
}
@font-face {
  /*menu 31*/
  font-family: Montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
  /*menu 32*/
  font-family: Otama-ep;
  src: url(../font/Otama-ep.otf);
}
@font-face {
  /*menu 32*/
  font-family: YesevaOne;
  src: url(../font/YesevaOne-Regular.ttf);
}
@font-face {
  /*menu 32*/
  font-family: CantataOne;
  src: url(../font/CantataOne-Regular.ttf);
}
@font-face {
  /*menu 33*/
  font-family: DancingScript;
  src: url(../font/DancingScript-Bold.ttf);
}
@font-face {
  /*menu 33*/
  font-family: Pacifico;
  src: url(../font/Pacifico.ttf);
}
@font-face {
  /*menu 33 et 34*/
  font-family: Caveat;
  src: url(../font/Caveat-Regular.ttf) format("truetype");
}
@font-face {
  /*menu 34*/
  font-family: KaushanScript;
  src: url(../font/KaushanScript-Regular.ttf);
}
@font-face {
  /*menu 34*/
  font-family: Komika;
  src: url(../font/Komika_display_bold.ttf);
}
@font-face {
  font-family: ComicRelief;
  src: url(../font/ComicRelief.ttf) format("truetype");
}
header {
  width: 100%;
  background: #579c87;
  display: flex;
  justify-content: center;
  height: 20%;
}

@media all and (max-width: 600px) {
  .logo {
    /*responsive*/
    min-width: 300px;
    max-width: 300px;
    margin: 5px 5px;
  }
}

footer {
  /*toutes les pages*/
  font-family: arial, verdana;
  background: #579c87;
  color: #fdcb46;
  font-size: 1.5em;
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
}
@media all and (max-width: 600px) {
  footer {
    /*responsive*/
    flex-wrap: wrap;
  }
}

@keyframes wiggle {
  /*toutes les pages*/
  0% {
    transform: translate3d(0px, 0px, 2px);
  }
  33% {
    transform: translate3d(0px, 2px, 0px);
  }
  66% {
    transform: translate3d(2px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 2px);
  }
}
.btn {
  /*toutes les pages*/
  color: #fdcb46;
}
.btn:hover {
  /*toutes les pages*/
  animation: wiggle 0.1s;
  animation-iteration-count: 10;
}

.menus {
  /*couvertures des menus sur la page accueil*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
@media all and (max-width: 600px) {
  .menus {
    /*responsive*/
    margin: auto;
  }
}

.mask {
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px silver;
  margin: 50px 50px 50px 50px;
}
@media all and (max-width: 600px) {
  .mask {
    margin: 10px 5px;
  }
}

.prev {
  /*dimension de chaque menu sur la page accueil*/
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  font-size: 1.7em;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 500ms;
}
.prev:hover {
  /*zoom*/
  transform: scale(1.1);
  opacity: 0.5;
}
@media all and (max-width: 600px) {
  .prev {
    /*responsive*/
    height: 300px;
  }
}

.prev-lne {
  /*page accueil la note enchantee*/
  /*page accueil la note enchantee*/
  background: #F3BF99;
  color: #3d1319;
  font-family: Montserrat;
}
.prev-lne__logo {
  font-size: 1.5em;
}

.prev-lcf {
  /*page accueil le chic a la francaise*/
  /*page accueil le chic a la francaise*/
  background: #FCF2F0;
  font-family: CantataOne;
}

.prev-ldp {
  /*page accueil le delice des papilles*/
  /*page accueil le delice des papilles*/
  background: #C8D9DB;
  color: black;
  font-family: Caveat;
}
.prev-ldp__titre {
  padding: 5px;
}

.prev-lpg {
  /*page accueil la palette du gout*/
  /*page accueil la palette du gout*/
  background: #fff;
  color: black;
  font-family: Caveat;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
  background: #579c87;
}
.loading-wrapper .loading {
  /*page accueil*/
  /*points suspensions animés*/
  font-family: arial, verdana;
  color: #fdcb46;
  padding: 10px 10px 10px 10px;
  font-size: 2em;
  min-width: 250px;
  max-width: 250px;
  /*responsive*/
}
.loading-wrapper .loading:after {
  /*page accueil*/
  /*points suspensions animés*/
  display: inline-block;
  animation: dotty steps(1, end) 2s infinite;
  content: " ";
}
@media all and (max-width: 600px) {
  .loading-wrapper .loading {
    width: 300px;
    padding: 5px 5px 5px 5px;
  }
}

@keyframes dotty {
  /*page accueil*/
  /*points suspensions animés*/
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
.prev-menu__lne {
  /*page accueil la note enchantee*/
  background: #F3BF99;
  color: #3d1319;
  font-family: Montserrat;
}

.fa-music {
  background: -webkit-radial-gradient(bottom left, #E21247, #EF9688);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note {
  font-size: 4em;
  text-align: center;
}

.prev-lne__titre {
  justify-content: center;
  font-family: Damion, LeckerliOne;
  margin-top: 20px;
}

.signature {
  font-family: Damion, LeckerliOne;
  font-size: 2em;
  text-align: center;
  margin-top: 40px;
}

/*pied de page*/
.epd--lne {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.epd--lne h2 {
  display: block;
  position: relative;
  margin: 0px 20px;
}
.epd--lne h2::after {
  background-color: #3d1319;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.epd--lne h2:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media all and (max-width: 600px) {
  .epd--lne {
    min-width: 200px;
  }
}

.prev-menu__lcf {
  /*page accueil le chic a la francaise*/
  background: #FCF2F0;
  font-family: CantataOne;
}

.prev-lcf__titre {
  justify-content: center;
  font-family: YesevaOne, Otama-ep;
  background: -webkit-linear-gradient(left, #C7672C 25%, #8F3A9E 50%, #3A639E 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -moz-gradient(linear, left, right, from(#C7672C), to(#8F3A9E), to(#3A639E));
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.entrees {
  color: #C7672C;
  margin-top: 50px;
}

.plats {
  color: #8F3A9E;
  margin-top: 50px;
}

.desserts {
  color: #3A639E;
  margin-top: 50px;
}

.flechedroite {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 15vw solid;
}
@media all and (max-width: 600px) {
  .flechedroite {
    /*responsive*/
    display: none;
  }
}

.flechedroitefin {
  /*menu 32 seulement*/
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 1vw solid;
}
@media all and (max-width: 600px) {
  .flechedroitefin {
    /*responsive*/
    display: none;
  }
}

.flechegauche {
  /*menu 32 seulement*/
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 1vw solid;
}
@media all and (max-width: 600px) {
  .flechegauche {
    /*responsive*/
    display: none;
  }
}

.flechegauchefin {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 15vw solid;
}
@media all and (max-width: 600px) {
  .flechegauchefin {
    /*responsive*/
    display: none;
  }
}

.fleche {
  display: flex;
  max-width: 100%;
}

.epd--lcf1 {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.epd--lcf1 h2 {
  display: block;
  position: relative;
  margin: 0px 20px;
}
.epd--lcf1 h2::after {
  background-color: #C7672C;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.epd--lcf1 h2:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media all and (max-width: 600px) {
  .epd--lcf1 {
    min-width: 200px;
  }
}

.epd--lcf2 {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.epd--lcf2 h2 {
  display: block;
  position: relative;
  margin: 0px 20px;
}
.epd--lcf2 h2::after {
  background-color: #8F3A9E;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.epd--lcf2 h2:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media all and (max-width: 600px) {
  .epd--lcf2 {
    min-width: 200px;
  }
}

.epd--lcf3 {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.epd--lcf3 h2 {
  display: block;
  position: relative;
  margin: 0px 20px;
}
.epd--lcf3 h2::after {
  background-color: #3A639E;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.epd--lcf3 h2:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media all and (max-width: 600px) {
  .epd--lcf3 {
    min-width: 200px;
  }
}

.prev-menu__ldp {
  /*page accueil le delice des papilles*/
  background: #C8D9DB;
  color: black;
  font-family: Caveat;
}

.prev-ldp__titre {
  /*titre 33 seulement*/
  justify-content: center;
  font-family: DancingScript, Pacifico;
  background: -webkit-linear-gradient(left, #34239E 25%, #2C5AC7 50%, #2CB7C7 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -moz-gradient(linear, left, right, from(#34239E), to(#2C5AC7), to(#2CB7C7));
  /*verifier mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.trait-ldp {
  /*menu33 seulement*/
  width: 300px;
  height: 5px;
}

.trait-ldp__1 {
  background-color: #34239E;
}

.epd-ldp__1 {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.epd-ldp__1 h2 {
  display: block;
  position: relative;
  margin: 0px 20px;
}
.epd-ldp__1 h2::after {
  background-color: #34239E;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.epd-ldp__1 h2:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media all and (max-width: 600px) {
  .epd-ldp__1 {
    min-width: 200px;
  }
}

.trait-ldp__2 {
  background-color: #2C5AC7;
}

.epd-ldp__2 {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.epd-ldp__2 h2 {
  display: block;
  position: relative;
  margin: 0px 20px;
}
.epd-ldp__2 h2::after {
  background-color: #2C5AC7;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.epd-ldp__2 h2:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media all and (max-width: 600px) {
  .epd-ldp__2 {
    min-width: 200px;
  }
}

.trait-ldp__3 {
  background-color: #2CB7C7;
}

.epd-ldp__3 {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.epd-ldp__3 h2 {
  display: block;
  position: relative;
  margin: 0px 20px;
}
.epd-ldp__3 h2::after {
  background-color: #2CB7C7;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.epd-ldp__3 h2:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media all and (max-width: 600px) {
  .epd-ldp__3 {
    min-width: 200px;
  }
}

.listeplats {
  /*menu33 seulement*/
  width: 90%;
  margin: auto;
}

.prev-menu__lpg {
  /*page accueil la palette du gout*/
  background: #fff;
  color: black;
  font-family: Caveat;
}

.prev-lpg__titre {
  /*titre 34 seulement*/
  justify-content: center;
  font-family: KaushanScript, Komika;
  background: -webkit-linear-gradient(left, #3d923a 20%, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -moz-gradient(linear, left, right, from #3d923a 20%, to #beff7f);
  /*verifier mozilla*/
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.epd--lpg {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.epd--lpg h2 {
  display: block;
  position: relative;
  margin: 0px 20px;
}
.epd--lpg h2::after {
  background-color: #3d923a;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  transition: transform 1s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}
.epd--lpg h2:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media all and (max-width: 600px) {
  .epd--lpg {
    min-width: 200px;
  }
}

.ml-text {
  padding: 10px 10px 10px 10px;
  word-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1048px;
  margin: auto;
}

a {
  /*toutes les pages*/
  text-decoration: none;
  color: #fdcb46;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.25em;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.prev-menu {
  /*format des 4 menus complets*/
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: 5px 5px 5px 5px silver;
}
@media all and (max-width: 600px) {
  .prev-menu {
    /*responsive*/
    width: 100%;
    box-shadow: none;
  }
}

.tiret {
  /*separateur entre les titres des menus détaillés*/
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px 50px 0px;
}
@media all and (max-width: 600px) {
  .tiret {
    /*responsive*/
    margin: 25px 0px 25px 0px;
  }
}

.trait {
  max-width: 100%;
}

.menu {
  margin: auto;
  font-size: 1.5em;
  width: 80%;
  padding: 50px 0px 75px 0px;
}
@media all and (max-width: 600px) {
  .menu {
    /*responsive*/
    font-size: 1em;
  }
}

.plat {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}
@media all and (max-width: 600px) {
  .plat {
    /*responsive*/
    line-height: normal;
  }
}

/*# sourceMappingURL=style.css.map */
