@import "./utils/variables";
@import "./utils/mixins";
@import "./base/typography";
@import "./layout/header";
@import "./layout/footer";
@import "./pages/index";
@import "./pages/index-lne";
@import "./pages/index-lcf";
@import "./pages/index-ldp";
@import "./pages/index-lpg";
@import "./pages/mentionslegales";

body {
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1048px;
	margin: auto;
}

a{ /*toutes les pages*/
	text-decoration: none;
	color: $primarycolor; 
}
h1{
	font-size: 2em;
	text-align: center;
} 
h2{
	font-size: 1.25em;
	text-align: center;
	margin: 10px 10px 10px 10px;
}

.prev-menu{ /*format des 4 menus complets*/
	margin-top: 50px;
	margin-bottom: 100px;
	box-shadow:5px 5px 5px 5px silver;
	@media all and (max-width: 600px){/*responsive*/
		width: 100%;
		box-shadow: none;
	}
}

.tiret{ /*separateur entre les titres des menus détaillés*/
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0px 50px 0px;
	@media all and (max-width: 600px){/*responsive*/
		margin: 25px 0px 25px 0px;
	}
}
.trait{
	max-width: 100%;
}
.menu{ 
	margin: auto;
	font-size: 1.5em;
	width: 80%;
	padding: 50px 0px 75px 0px;
	@media all and (max-width: 600px){/*responsive*/
		font-size: 1em;
	}
}
.plat{
	display: flex;
	justify-content: space-between;
	line-height: 2em;
	@media all and (max-width: 600px){/*responsive*/
		line-height: normal;
	}
}	

