@font-face{ /*menu 31*/
	font-family: LeckerliOne;
	src: url(../font/LeckerliOne-Regular.otf);
}
@font-face{ /*menu 31*/
	font-family: Damion;
    	src: url(../font/Damion-Regular.ttf);
}
@font-face{ /*menu 31*/
	font-family: Montserrat;
    	src: url(../font/Montserrat-Regular.ttf);
}	
@font-face{ /*menu 32*/
	font-family: Otama-ep;
    	src: url(../font/Otama-ep.otf);       
}
@font-face{ /*menu 32*/
	font-family: YesevaOne;
		src: url(../font/YesevaOne-Regular.ttf);
}
@font-face{ /*menu 32*/
	font-family: CantataOne;
		src: url(../font/CantataOne-Regular.ttf);
}
@font-face{ /*menu 33*/
	font-family: DancingScript;
		src: url(../font/DancingScript-Bold.ttf);
}
@font-face{  /*menu 33*/
	font-family: Pacifico;
    src: url(../font/Pacifico.ttf);
}
@font-face{ /*menu 33 et 34*/
	font-family: Caveat;
		src: url(../font/Caveat-Regular.ttf) format('truetype');
}
@font-face{ /*menu 34*/
	font-family: KaushanScript;
		src: url(../font/KaushanScript-Regular.ttf);
}
@font-face{/*menu 34*/ 
	font-family: Komika;
    	src: url(../font/Komika_display_bold.ttf);
}
@font-face{
	font-family: ComicRelief;
    	src: url(../font/ComicRelief.ttf) format('truetype');
}