
.prev-ldp__menu{ 
	@include color-menu__ldp;
}
.listeplats{ /*menu33 seulement*/
	width: 90%;
	margin: auto;
}
.trait33{ /*menu33 seulement*/
	width: 300px;
	height: 5px;
	@media all and (max-width: 600px){/*responsive*/
		display: none;
	}
}
.prev-ldp__titre{ /*titre 33 seulement*/
	justify-content: center; 
	font-family: DancingScript, Pacifico;
	background: -webkit-linear-gradient(left, #34239E 10%, #2C5AC7 30%,#2CB7C7 90%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	background: -moz-gradient(linear, left, right, from(#34239E), to(#2C5AC7), to(#2CB7C7)); /*verifier mozilla*/
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}