.prev-lpg__titre{ /*titre 34 seulement*/
	justify-content: center; 
	font-family: KaushanScript, Komika;
	background: -webkit-linear-gradient(left,$lpg_logo_colorstart 20%, $lpg_logo_colorend);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	background: -moz-gradient(linear, left, right, from $lpg_logo_colorstart 20%, to $lpg_logo_colorend); /*verifier mozilla*/
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;   	
}
.prev-lpg__menu{  
   @include color-menu__lpg;		
}
.trait{
	max-width: 100%;
	@media all and (max-width: 600px){/*responsive*/
		display: none;
	}
}