
.prev-lcf__titre{ /*titre 32 seulement*/
	justify-content: center; 
	font-family: YesevaOne, Otama-ep;
	background: -webkit-linear-gradient(left, $lcf_font_colorstart 25%, $lcf_font_colormidle 50%, $lcf_font_colorend 75%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	background: -moz-gradient(linear, left, right, from($lcf_font_colorstart), to($lcf_font_colormidle), to($lcf_font_colorend)); 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}
.prev-lcf__menu{ /*menu 32 seulement*/  
	@include color-menu__lcf; 			
}
.entrees{/*menu 32 seulement*/
	color: $lcf_font_colorstart;
	margin-top: 50px;
}
.plats{/*menu 32 seulement*/
	color: $lcf_font_colormidle;
	margin-top: 50px;
}
.desserts{/*menu 32 seulement*/
	color: $lcf_font_colorend;
	margin-top: 50px;
}
.flechedroite{/*menu 32 seulement*/
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 20vw solid;
	@media all and (max-width: 600px){/*responsive*/
		display: none;
	}
}
.flechedroitefin { /*menu 32 seulement*/
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 1vw solid;
	@media all and (max-width: 600px){/*responsive*/
			display: none;
	}
}
.flechegauche{/*menu 32 seulement*/
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 1vw solid;
	@media all and (max-width: 600px){/*responsive*/
		display: none;
	}
}
.flechegauchefin { /*menu 32 seulement*/
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 20vw solid;
	@media all and (max-width: 600px){/*responsive*/
		display: none;
	}

}
.fleche {
	display: flex;
	max-width: 100%;
}