.fas{ /*logo 31 dégradé*/
	background: -webkit-radial-gradient(bottom left, $lne_logo_colorstart, $lne_logo_colorend );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: -moz-gradient(linear, left top, left bottom, from($lne_logo_colorend), to($lne_logo_colorstart));
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}
.note{ /*logo 31 titre */
	font-size: 4em;
	text-align: center;
}
.prev-lne__titre{ /*menu 31 seulement*/
	justify-content: center; 
	font-family: Damion, LeckerliOne;
	margin-top: 20px;
}
.prev-lne__menu{  /*menu 31 seulement*/
	@include color-menu__lne;
}
.signature { /*menu 31 seulement*/
	font-family: Damion, LeckerliOne;
	font-size: 2em;
	text-align: center;
	margin-top: 40px;
}
.trait{
	max-width: 100%;
	@media all and (max-width: 600px){/*responsive*/
		display: none;
	}
}