
.menus{ /*couvertures des menus sur la page accueil*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: bottom;
	margin: auto;
	@media all and (max-width: 600px){ /*responsive*/
		margin: auto;
	}
}
.mask{
	overflow: hidden;
	box-shadow: 5px 5px 5px 5px silver;
	margin: 50px 50px 50px 50px;
	@media all and (max-width: 600px){
		margin: 10px 5px;
	}
}
.prev{ /*dimension de chaque menu sur la page accueil*/
	width: 300px;
	height: 450px;
	display: flex;
	justify-content: center;
	font-size: 1.7em;
	text-align: center;
	align-items: center;
	cursor: pointer;
	transform: scale(1);
	transition: transform 500ms;
	&:hover{ 
		@include zoom;
	}
	@media all and (max-width: 600px){ /*responsive*/
		height: 300px;
	}       
}
.prev-lne{ /*page accueil la note enchantee*/
	@include color-menu__lne;
	&__logo{
		font-size: 1.5em;
	}
}
.prev-lcf{ /*page accueil le chic a la francaise*/
	@include color-menu__lcf;
    }
.prev-ldp{ /*page accueil le delice des papilles*/
	@include color-menu__ldp;
	&__titre{
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding: 5px;
	}	
}
.prev-lpg{ /*page accueil la palette du gout*/
	@include color-menu__lpg;
}

.loading-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 50px;
	border-radius: 8px;
	margin:auto;
	margin-bottom: 100px;
	margin-top: 50px;
	background: $fond;
	.loading {/*page accueil*//*points suspensions animés*/
		font-family: arial,verdana;
		color: $primarycolor;
		padding: 10px 10px 10px 10px;
		font-size: 2em;
		min-width: 250px;
		max-width: 250px;
	    	&:after{ /*page accueil*//*points suspensions animés*/
			display: inline-block;
			animation: dotty steps(1,end) 2s infinite;
			content: ' ';
			}
	@media all and (max-width: 600px){
		width: 300px;
		padding: 5px 5px 5px 5px;
	} /*responsive*/
    }
}
@keyframes dotty{  /*page accueil*//*points suspensions animés*/
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}



    
