
.prev-ldp__menu{ 
	@include color-menu__ldp;
}
.listeplats{ /*menu33 seulement*/
	width: 90%;
	margin: auto;
}
.trait33{ /*menu33 seulement*/
	width: 300px;
	height: 5px;
	@media all and (max-width: 600px){/*responsive*/
		display: none;
	}
}
.trait33--start {
	background-color:$ldp_colorstart;
	}
.trait33--midle{
	background-color:$ldp_colormidle;
	}
.trait33--end{
	background-color:$ldp_colorend;
	}
	
.prev-ldp__titre{ /*titre 33 seulement*/
	justify-content: center; 
	font-family: DancingScript, Pacifico;
	background: -webkit-linear-gradient(left,$ldp_colorstart 25%, $ldp_colormidle 50%,$ldp_colorend 75%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	background: -moz-gradient(linear, left, right, from($ldp_colorstart), to($ldp_colormidle), to($ldp_colorend)); /*verifier mozilla*/
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}