@mixin zoom { /*zoom*/
    transform: scale(1.2);
    opacity: 0.5;
}       

@mixin color-menu__lne{ /*page accueil la note enchantee*/
	background: $lne_background_color; 
    color: $lne_font_color;
    font-family: Montserrat;
 }

@mixin color-menu__lcf{ /*page accueil le chic a la francaise*/
	background:$lcf_background_color; 
    font-family: CantataOne;

}

@mixin color-menu__ldp{ /*page accueil le delice des papilles*/
	background: $ldp_background_color; 
    color: $ldp_font_color;
    font-family: Caveat; 		
}

@mixin color-menu__lpg{ /*page accueil la palette du gout*/
	background: $lpg_background_color;
    color: $lpg_font_color;
    font-family: Caveat; 			
}	