@mixin zoom { /*zoom*/
    transform: scale(1.1);
    opacity: 0.5;
}       

@mixin color-menu__lne{ /*page accueil la note enchantee*/
	background: $lne_background_color; 
    color: $lne_font_color;
    font-family: Montserrat;
 }

@mixin color-menu__lcf{ /*page accueil le chic a la francaise*/
	background:$lcf_background_color; 
    font-family: CantataOne;

}

@mixin color-menu__ldp{ /*page accueil le delice des papilles*/
	background: $ldp_background_color; 
    color: $ldp_font_color;
    font-family: Caveat;
}

@mixin color-menu__lpg{ /*page accueil la palette du gout*/
	background: $lpg_background_color;
    color: $lpg_font_color;
    font-family: Caveat;
}

@mixin souligne ($colour){
    min-width: 300px;
	display: flex;
	align-items: center;
    justify-content: center;
    h2{
		display: block;
		position: relative;
		margin: 0px 20px;
		&::after{
			background-color: $colour;
			content:"";
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0px;
			left: 0px;
			height: 3px;
			transition:transform 1s ease-in-out;
			transform-origin: left;
			transform:scaleX(0);

		}
		&:hover::after{
			transform:scaleX(1);
			transform-origin: left;
		}
    }
    @media all and (max-width: 600px){
        min-width: 200px;
}
}
