$fond:rgb(87,156,135); /*header footer btn*/
$primarycolor: rgb(253, 203, 70);

$lne_background_color:  #F3BF99; /*menu 31 seulement*/
$lne_font_color:rgb(61,19,25); 
$lne_logo_colorstart: #E21247;
$lne_logo_colorend: #EF9688;

$lcf_background_color:  #FCF2F0;/*menu 32 seulement*/
$lcf_font_colorstart: #C7672C; 
$lcf_font_colormidle: #8F3A9E;
$lcf_font_colorend: #3A639E;

$ldp_background_color: #C8D9DB;  /*menu 33 seulement*/
$ldp_font_color: black;
$ldp_colorstart: #34239E;
$ldp_colormidle: #2C5AC7;
$ldp_colorend: #2CB7C7;

$lpg_background_color: #fff; /*menu 34 seulement*/
$lpg_font_color: black;
$lpg_logo_colorstart: rgb(61,146,58);
$lpg_logo_colorend: rgb(190,255,127);

